/*! normalize.css commit fe56763 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  color: rgb(55, 58, 60);
  background-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

mark {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 0);
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid rgb(192, 192, 192);
}

legend {
  padding: 0;
  border: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

[tabindex='-1']:focus {
  outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted rgb(129, 138, 145);
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: rgb(2, 117, 216);
}

a:focus,
a:hover {
  text-decoration: underline;
  color: rgb(1, 76, 140);
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role='button'] {
  cursor: pointer;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

table {
  background-color: transparent;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  caption-side: bottom;
  text-align: left;
  color: rgb(129, 138, 145);
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
  margin: 0;
  border-radius: 0;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  font-size: 1.5rem;
  line-height: inherit;
  display: block;
  width: 100%;
  margin-bottom: .5rem;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: none;
}

output {
  display: inline-block;
}

* {
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

html {
  background-color: rgb(255, 255, 255);
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42;
  overflow-x: hidden;
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.break:after {
  content: '\A';
  white-space: pre;
}

svg {
  fill: currentColor;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

img,
video,
audio {
  max-width: 100%;
  height: auto;
}

sub,
sup {
  line-height: 0;
}

label,
button,
input,
select {
  cursor: pointer;
}

label {
  margin-bottom: 0;
}

[disabled] {
  cursor: default;
}

abbr[title],
acronym[title],
dfn {
  cursor: help;
}

textarea {
  resize: vertical;
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-top: 25px;
  padding-bottom: 56.25%;
  /* 16:9 */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
  color: rgb(0, 0, 0);
}

.btn {
  display: block;
  width: 100%;
  max-width: 70px;
  margin-right: auto;
  margin-left: auto;
  padding: 4px 11px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.btn:hover {
  color: rgba(0, 0, 0, .8);
}

.btn_freeze {
  margin-bottom: 5px;
  background: rgb(0, 188, 212);
}

.btn_ban {
  background: rgb(244, 67, 54);
}

.container {
  width: 95%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding-bottom: 100px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.download {
  display: block;
  max-width: 190px;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px 20px;
  color: rgb(0, 0, 0);
  border: 1px solid currentColor;
  background: rgb(255, 255, 255);
}

.download:hover {
  color: rgb(255, 255, 255);
  background: rgb(158, 158, 158);
}

.download:hover .icon_download {
  background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg viewBox=\'0 0 2048 1792\' xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23fff\'%3E%3Cpath d=\'M1344 928q0-14-9-23t-23-9h-224v-352q0-13-9.5-22.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 22.5v352h-224q-13 0-22.5 9.5t-9.5 22.5q0 14 9 23l352 352q9 9 23 9t23-9l351-351q10-12 10-24zm640 224q0 159-112.5 271.5t-271.5 112.5h-1088q-185 0-316.5-131.5t-131.5-316.5q0-130 70-240t188-165q-2-30-2-43 0-212 150-362t362-150q156 0 285.5 87t188.5 231q71-62 166-62 106 0 181 75t75 181q0 76-41 138 130 31 213.5 135.5t83.5 238.5z\'/%3E%3C/svg%3E');
}

.edit {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 90%;
  color: rgb(0, 0, 0);
  background: rgb(255, 235, 59);
}

.edit:hover {
  color: rgba(0, 0, 0, .8);
}

.edit:hover .icon_edit {
  background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg viewBox=\'0 0 1792 1792\' xmlns=\'http://www.w3.org/2000/svg\' fill=\'rgba(0, 0, 0, 0.8)\'%3E%3Cpath d=\'M1536 1399q0 109-62.5 187t-150.5 78h-854q-88 0-150.5-78t-62.5-187q0-85 8.5-160.5t31.5-152 58.5-131 94-89 134.5-34.5q131 128 313 128t313-128q76 0 134.5 34.5t94 89 58.5 131 31.5 152 8.5 160.5zm-256-887q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5z\'/%3E%3C/svg%3E');
}

.file__input {
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: .1px;
  height: .1px;
  opacity: 0;
}

.footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.header {
  position: relative;
  margin-bottom: 20px;
  padding: 20px 0;
  background: rgb(0, 0, 0);
}

.header__blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__block_wide {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.icon_exit {
  width: 21px;
  height: 21px;
  background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg xmlns=\'http://www.w3.org/2000/svg\' xmlns:xlink=\'http://www.w3.org/1999/xlink\' fill=\'%23000\'%3E%3Cdefs%3E%3Cpath id=\'a\' d=\'M57.02 635h8.96v18h-8.96z\'/%3E%3Cpath id=\'d\' d=\'M63.5 637.34h-6.08c-.31 0-.4-.08-.4-.38v-1.57c0-.3.08-.39.4-.39h8.15c.31 0 .41.1.41.4a573031.77 573031.77 0 0 1 0 17.22c0 .28-.1.38-.4.38h-8.12c-.37 0-.44-.07-.44-.42v-1.52c0-.33.08-.4.42-.4h6.07z\'/%3E%3Cpath id=\'b\' d=\'M48 639.03h13.97v10.94H48z\'/%3E%3Cpath id=\'f\' d=\'M53 645.9l.15.12 1.9 1.9c.2.2.2.38.01.57l-1.33 1.33c-.2.2-.37.2-.56 0l-5.03-5.02c-.19-.2-.19-.41 0-.6l5.02-5.02c.2-.2.38-.2.58 0l1.32 1.32c.2.2.19.38-.01.58l-1.9 1.9-.16.17h8.5c.37 0 .48.11.48.5v1.73c0 .34-.12.46-.45.46h-8.5l-.03.06\'/%3E%3CclipPath id=\'c\'%3E%3Cuse xlink:href=\'%23a\'/%3E%3C/clipPath%3E%3CclipPath id=\'e\'%3E%3Cuse xlink:href=\'%23b\'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path=\'url(%23c)\' transform=\'translate(-48 -635)\'%3E%3Cuse xlink:href=\'%23d\'/%3E%3C/g%3E%3Cg clip-path=\'url(%23e)\' transform=\'translate(-48 -635)\'%3E%3Cuse xlink:href=\'%23f\'/%3E%3C/g%3E%3C/svg%3E');
}

.icon_download {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg viewBox=\'0 0 2048 1792\' xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23000\'%3E%3Cpath d=\'M1344 928q0-14-9-23t-23-9h-224v-352q0-13-9.5-22.5t-22.5-9.5h-192q-13 0-22.5 9.5t-9.5 22.5v352h-224q-13 0-22.5 9.5t-9.5 22.5q0 14 9 23l352 352q9 9 23 9t23-9l351-351q10-12 10-24zm640 224q0 159-112.5 271.5t-271.5 112.5h-1088q-185 0-316.5-131.5t-131.5-316.5q0-130 70-240t188-165q-2-30-2-43 0-212 150-362t362-150q156 0 285.5 87t188.5 231q71-62 166-62 106 0 181 75t75 181q0 76-41 138 130 31 213.5 135.5t83.5 238.5z\'/%3E%3C/svg%3E');
}

.icon_edit {
  width: 16px;
  height: 16px;
  background-image: url('data:image/svg+xml;charset=utf-8, %3Csvg viewBox=\'0 0 1792 1792\' xmlns=\'http://www.w3.org/2000/svg\' fill=\'%23000\'%3E%3Cpath d=\'M1536 1399q0 109-62.5 187t-150.5 78h-854q-88 0-150.5-78t-62.5-187q0-85 8.5-160.5t31.5-152 58.5-131 94-89 134.5-34.5q131 128 313 128t313-128q76 0 134.5 34.5t94 89 58.5 131 31.5 152 8.5 160.5zm-256-887q0 159-112.5 271.5t-271.5 112.5-271.5-112.5-112.5-271.5 112.5-271.5 271.5-112.5 271.5 112.5 112.5 271.5z\'/%3E%3C/svg%3E');
}

.icon_back {
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

.load__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: li;
  text-align: center;
}

.load__item {
  position: relative;
  display: inline-block;
}

.load__item:before {
  position: absolute;
  bottom: 5px;
  left: -2em;
  width: 2em;
  content: counter(li);
  counter-increment: li;
  text-align: center;
}

.load__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.load__title {
  width: 100%;
  padding: 10px;
}

.load__name {
  width: 200px;
  padding: 3px 10px;
  border: 1px solid;
}

.load__block + .load__block {
  margin-left: 20px;
}

.load__button {
  width: 100px;
  padding: 3px 10px;
  -webkit-transition: background-color .3s, color .3s;
  -o-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
  text-align: center;
  border: 1px solid;
  background: rgb(255, 255, 255);
}

.load__button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.logo__link {
  display: inline-block;
  vertical-align: middle;
}

.logout {
  display: block;
  padding: 5px 20px;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.menu__link {
  font-weight: 700;
  position: relative;
  display: block;
  padding: 5px 10px;
  color: rgb(255, 255, 255);
}

.menu__link:hover {
  color: rgba(255, 255, 255, .8);
}

.new {
  width: 100px;
}

.paginator__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paginator__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paginator__button {
  position: relative;
  padding: 4px 15px;
  color: rgb(255, 255, 255);
  background: rgb(23, 121, 186);
}

.paginator__button::after {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  content: '';
  background: rgb(23, 121, 186);
}

.paginator__button:hover {
  color: rgba(255, 255, 255, .8);
}

.paginator__prev::after {
  left: -20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.paginator__next::after {
  right: -20px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.paginator__item + .paginator__item {
  margin-left: 10px;
}

.paginator__link {
  display: block;
  padding: 4px 11px;
  color: rgb(255, 255, 255);
  border-radius: 4px 4px 0 0;
  background: rgb(23, 121, 186);
}

.paginator__link:hover {
  color: rgba(255, 255, 255, .8);
}

.popup {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  pointer-events: none;
  opacity: 0;
  background: rgba(24, 17, 34, .7);
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.popup_active {
  pointer-events: auto;
  opacity: 1;
}

.popup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup__table {
  display: table;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
}

.popup__cell {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.popup__block {
  position: relative;
  display: inline-block;
  padding: 20px;
  text-align: left;
  background: rgb(255, 255, 255);
}

.popup__close {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.popup__close:before,
.popup__close:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 2px;
  margin: -1px 0 0 -8px;
  content: '';
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: rgb(0, 0, 0);
}

.popup__close:before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.popup__close:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup_active .popup__close {
  display: block;
}

.popup__change > div {
  display: block;
}

.popup__body_hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: auto;
  -moz-overflow-scrolling: auto;
  -o-overflow-scrolling: auto;
  -ms-overflow-scrolling: auto;
  overflow-scrolling: auto;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-spacing: 0 5px;
  border-collapse: separate;
  text-align: center;
}

.table__head {
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
}

.table__head:last-child {
  border-right: 1px solid rgb(0, 0, 0);
}

.table__head_accent {
  color: rgb(255, 255, 255);
  background: rgb(158, 158, 158);
}

.table__head + .table__empty {
  border-left: 1px solid rgb(0, 0, 0);
}

.table__empty {
  border: none;
}

.table__empty:last-child {
  border-right: none;
}

.table__small {
  padding: 10px 5px;
}

.table__big {
  padding: 30px 5px;
}

.table__value {
  color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
  background: rgb(158, 158, 158);
}

.table__value:last-child {
  border-right: 1px solid rgb(0, 0, 0);
}

.table__prop {
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-right: none;
}

.table__prop:last-child {
  border-right: 1px solid rgb(0, 0, 0);
}

.table__prop + .table__empty {
  border-left: 1px solid rgb(0, 0, 0);
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
}

@media screen and (max-width: 768px) {
  .header__block_wide {
    -webkit-box-flex: inherit;
    -webkit-flex-grow: inherit;
    -ms-flex-positive: inherit;
    flex-grow: inherit;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .menu.active {
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background: rgb(255, 255, 255);
  }

  .menu__list {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .menu__item + .menu__item {
    margin-top: 10px;
  }
}
