.back{
	display: inline-block;
	margin-bottom: 20px;
	margin-left: -10px;
	color: #000000;
	padding: 10px;
	border: 1px solid transparent;
	transition: border-color 0.3s;

	&:hover{
		border-color:#000;
	}
}