.btn{
	display: inline-block;
	width: 100%;
	max-width: 70px;
	margin-left: auto;
	margin-right: auto;
	color: #000000;
	padding: 4px 11px;
	border: 1px solid #000;
	transition: background-color 0.3s, color 0.3s;

	&:hover{
		color:rgba(0,0,0,0.8);
	}

	&_freeze{
		background-color: #00bcd4;
		margin-bottom: 5px;
	}

	&_ban{
		background-color: #f44336;
	}

	&_border{
		max-width: 150px;
		padding: 3px 10px;
		background-color: #fff;
		border: 1px solid;
		text-align: center;

		&:hover{
			background-color: #000;
			color: #ffffff;

			.icon_down{
				background-image: svg-load('down.svg', fill=#fff);
			}
		}
	}
}