.download{
	display: block;
	max-width: 190px;
	margin-left: auto;
	margin-bottom: 20px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid currentColor;
	color: #000000;
	transition: background-color 0.3s, color 0.3s;

	&:hover{
		background-color: #9e9e9e;
		color: #ffffff;

		.icon_download{
			background-image: svg-load('cloud-download.svg', fill=#fff);
		}
	}

	&_list{
		margin-right: 145px;
	}
}